<% content_for(:title, t('.title')) %>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1><%= t '.title' %></h1>

<select id="park-select">
// 地図の選択
  <option value="land">東京ディズニーランド</option>
  <option value="sea">東京ディズニーシー</option>
</select>

<div id="map" style="height: 500px; width: 600px;"></div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?MY_KEY&callback=initMap">
</script>

<script>
  // 変数の宣言
  var center = { lat: 35.6329, lng: 139.8804 };
  var map;
  var bounds;
  
  // 地図の初期化 (initMap() 関数内で、 new google.maps.Map(...) を使用して新規地図を作成し、さらに setHeading() を用いて方角を設定)
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: center,
      mapTypeId: 'satellite'
    });

    // パークの方角を設定
    var heading;
    if (select.value === 'land') {
      heading = 180;
    } else if (select.value === 'sea') {
      heading = 90;
    }
    
    map.setHeading(heading);
  }
  
  // 選択したパークに合わせて地図を変更
  var select = document.getElementById('park-select');
  select.addEventListener('change', function() {
    if (select.value === 'land') {
      center.lat = 35.6329;
      center.lng = 139.8804;
      // 西側端の緯度経度と東側端の緯度経度を指定
      bounds = new google.maps.LatLngBounds(new google.maps.LatLng(35.629680, 139.877209), new google.maps.LatLng(35.636247, 139.885652));
    } else if (select.value === 'sea') {
      center.lat = 35.6261;
      center.lng = 139.8851;
      // 西側端の緯度経度と東側端の緯度経度を指定
      bounds = new google.maps.LatLngBounds(new google.maps.LatLng(35.626514, 139.883735), new google.maps.LatLng(35.630227, 139.887357));
    }
    initMap();
  });
</script>


