<div class="top-wrapper">
    <div class="top-inner-text">
        <h1>DPhotoMap</h1>
        <p>パークで撮影した写真をマップにピン留めしよう</p>
    </div>

    <div class="actions">
        <%= link_to 'ログイン', login_path, class: 'btn btn-primary' %>
    </div>
    <div class="actions">
        <%= link_to '新期ユーザー登録', new_user_path, class: 'btn btn-primary' %>
    </div>
    <div class="actions">
        <%= link_to 'アプリをのぞいてみる', map_path, class: 'btn btn-primary' %>
    </div>
</div>