<% content_for(:title, t('.title')) %>
<section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light"><%= t'.title' %></h1></br>
          <p class="lead text-body-secondary">パークで体験した思い出を日記に綴ろう！</br>タグを設定すると、タグをクリックすることで絞り込み検索ができます。</p>
        </div>
        <div>
          <%= link_to '投稿', new_diary_path, class: 'btn btn-info rounded-pill px-3' %>
        </div>
      </div>
</section>

<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <% if @diaries.present? %>
        <div class="row">
          <%= render @diaries %>
        </div>
      <% else %>
          <p><%= 'ここに日記が掲載されます' %></p>
      <% end %>
    </div>
  </div>
</div>

          




