<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="m-5 text-center"><%= t'.title' %></h1>
      <%= render 'form', { diary: @diary } %>
    </div>
  </div>
</div>
    
    