<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <div class="py-3 my-4">
      <span class="text-body-secondary">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">ホーム</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">利用規約</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">プライバシーポリシー</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">お問い合わせ</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2023 D PhotoMap</p>
      </span>
    </div>
  </div>
</footer>
