<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="py-3 my-4">
      <span class="text-body-secondary">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="https://docs.google.com/forms/d/e/1FAIpQLScahiKEHF7B-sHbOUxQaYG9yuhPuEHnS46ss1sGa6BjJuWpPg/viewform?usp=sf_link" class="nav-link px-2 text-body-secondary" style="color: black;" >｜　お問い合わせ　｜</a></li>
          <li class="nav-item"><a href="/terms_of_use" class="nav-link px-2 text-body-secondary" style="color: black;" >｜　利用規約　｜</a></li>
          <li class="nav-item"><a href="/privacy_policy" class="nav-link px-2 text-body-secondary" style="color: black;">｜　プライバシーポリシー　｜</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2023 D PhotoMap</p>
      </span>
    </div>
</footer>
