<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
      <span class="fs-4 title">D PhotoMap</span>
    </a>
    <ul class="nav nav-pills">
      <div>
        <li>　　</li>
      </div>
      <div>
        <li class="nav-itme"><i class="fas fa-home" style="color: blue;"></i></li>
        <li class="nav-item"><%= link_to 'ホーム', root_path, class: 'nav-link', style: "color: blue;" %></li>
      </div>
      <div>
        <li class="nav-itme"><i class="fas fa-sign-in-alt" style="color: rgb(228, 46, 158);"></i></li>
        <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link', style: "color: rgb(228, 46, 158);" %></li>
      </div>
      <div>
        <li class="nav-itme"><i class="fas fa-user-plus" style="color: green;"></i></li>
        <li class="nav-item"><%= link_to '新規登録', new_user_path, class: 'nav-link', style: "color: green;"%></li>
      </div>
    </ul>
</header>
