<% content_for(:title, t('.title')) %>
<div class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="text-center mb-4"><%= t'.title' %></h1>
      <%= render 'form', { photo: @photo } %>
    </div>
  </div>
</div>


