.backgrount-image {
  background-image: url('top2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.inline {
  display: inline;
}