.backgrount-image {
  background-image: url('top2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.inline {
  display: inline;
}

#map {
  width: 100%;
  height: 0;
  padding-bottom: 62.5%; /* ビューポートの幅がどのくらいでも、高さは幅の 62.5% */
}

