<% content_for(:title, t('.title')) %>
<section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light title"><%= t'.title' %></h1></br>
          <p class="lead text-body-secondary">パークで使った出費を計算しよう</p>
        </div>
        <div>
          <%= link_to '入力', new_expense_path, class: 'btn btn-info rounded-pill px-3' %>
        </div>
      </div>
</section>
<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @expenses.present? %>
          <%= render @expenses %>
        <% else %>
          <p><%= 'ここに出費一覧が掲載されます' %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>